@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.logo-nav{
    font-family: 'Open Sans';
    font-style: normal;
    line-height: 33px;
    color: #000000;
    margin-top: 19px;
    margin-bottom: 21;
    margin-left: 90px;
    margin-right: 225px;
}

.item-nav{
    margin-top: 48px;
    margin-bottom: 51px;
    margin-right: 293px;
}

.nav-link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    margin-right: 60px;
}

.logo-img{
    height: 57px;
    width: 52;
    margin-right: 21px;
    margin-top: 6.5px;
    margin-bottom: 6.5px;
    margin-left: 1px;
}

.headButton{
    width: 200.39px;
    height: 50px;
    border: 0.5px solid #00296D;
    border-radius: 15px;
    background-color: white;

}

